.Conhecimento {
    display: grid;
    grid-template-columns: 50% 50%;

    .Exibicao {
        padding-top: 80px;
        padding-left: 50px;

        p {
            width: 85%;
            padding-top: 40px;
            color: #767B84;
            font-size: 20px;
            overflow-wrap: break-word;
            word-break: break-word;
            white-space: normal;
        }
    }

    .ButtonIco {
        padding-top: 40px;

        .LinhaIco {
            display: flex;
            justify-content: center;
            gap: 80px;
            margin-top: 20px;

            button {

                background-color: #1b1b1b;
                border: 1px solid #5A5656;
                border-radius: 10px;
                max-width: 140px;
                width: 95%;
                height: 150px;
                margin: 10px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 60px;
                transition: border-color 1.0s ease;

                &:hover{                 
                    border: 2px solid #986DFF;
                    
                }

                svg {
                    fill: #986DFF;
                }
            }
        }
    }
}


@media (max-width: 428px) {

    .Conhecimento {
        display: block;
    
        .Exibicao {
            padding-top: 5px;
    
            p {
                display: none;
            }
        }
    
        .ButtonIco {
    
            .LinhaIco {
                margin-top: 20px;
                gap: 40px;
    
                button {
                    max-width: 80px;
                    width: 95%;
                    height: 80px;
                    margin: 0px;
                    font-size: 40px;
    
                }
            }
        }
    }

}