section{

    background-color: #1b1b1b;
    margin-bottom: 20px;

    h1{
        font-size: 40px;
        padding-top: 40px;
        padding-left: 50px;
    }

    .BotaoTexto{
        display: grid;
        grid-template-columns: 25% 75%;

    
        .secButton{
            
            margin-top: 50px;
            margin-left: 50px;
            margin-bottom: 30px;
            background-color: #1b1b1b;
    
            button{

                display: block;
                color: white;
                background-color: #111111;
                font-size: 25px;
                width: 100%;
                cursor: pointer;
                border: none;
                height: 100px;

                &:hover{
                    color: #986DFF;
                    border-left: 1px solid #986DFF;
                }
            }
        }

        .expeDes{

            width: 70%;
            margin-top: 50px;
            margin-left: 40px;
            padding-left: 20px;

            .tituloData{
                display: flex;
                justify-content: space-between;

                h2{
                    font-weight: 500;
                    font-size: 30px;
                }
                
                p{
                    padding-right: 30px;
                }
            }

            h3{
                color: #986DFF;
                padding-top: 30px;
                padding-bottom: 30px;;
            }

            p{
                color: #767B84;
                font-size: 20px;
                overflow-wrap: break-word;
                word-break: break-word; 
                white-space: normal;
            }
        }
    }

}


@media (max-width: 428px) {

    section{   
        h1{
            font-size: 30px;
        }

        .BotaoTexto{
            display: block;

            .secButton{
                width: 75%;

                button{
                    font-size: 20px;
                    height: 80px;
                }

            }

            .expeDes{

                .tituloData{
                    display: block;

                    h2{
                        font-size: 25px;
                    }

                    p{
                        font-size: 17px;
                    }
                }

                h3{
                    font-size: 22px;
                    padding-top: 0px;
                }

                p{
                    font-size: 18px;
                    padding-bottom: 25px;
                }
            }

        }



    }

}