@media (max-width: 428px) {

    .QuemSou {

        margin: 50px auto;

    .ImgEDescricao {
        display: block;
        
        .imagem {
            .EuP {
                border-radius: 30px;
                padding-top: 20px;
                display: block;
                width: 85%;
                height: 350px;
                margin: 0 auto 20px;
            }
        }

        .Eutexto {
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            height: 100%;

            .texto {
                padding-top: 5px;

                h3 {
                    font-size: 25px;
                }

                h2 {
                    font-size: 30px;
                }

                h4 {
                    font-size: 19px;
                }

                p {
                    text-align: center;
                    font-size: 15px;
                    margin-top: 25px;
                }
            }

            .Contatos {
                gap: 33px;
                padding-bottom: 10px;
                padding-left: 5px;
                margin-bottom: 20px; 

                a {
                    width: 50px;
                    height: 50px;

                    svg {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}

}