@media (max-width: 428px) {
    
    .InforContainer{

        margin-top:120px;

        .Apresentacao{

            h1{
                font-size: 20px;
                
            }

            h3{
                font-size: 17px;
            }

            .Botao{
                width: 230px;
                font-size: 20px;
            }
        }
        
      
        .img {
          display: none; 
        }



    }
    
  }