@use '../../Sass/SASS.scss' as *;

.QuemSou {
    border: 1px solid #5a5656;
    border-radius: 10px;
    width: 80%;
    margin: 200px auto;
    background-color: #1b1b1b;

    .ImgEDescricao {
        display: grid;
        grid-template-columns: 45% 55%;

        .imagem {
            display: flex;
            justify-content: center;
            align-items: center;

            .EuP {
                width: 400px;
                height: 490px;
                margin: 20px auto;
                border-radius: 10px;
                cursor: pointer;
                opacity: 0.9;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                    opacity: 1.5;
                }
            }
        }

        .Eutexto {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .texto {
                padding-top: 40px;

                h3 {
                    color: #986DFF;
                    font-size: 30px;
                }

                h2 {
                    @include Titulo;
                }

                h4 {
                    font-size: 20px;
                    font-weight: 300;
                }

                p {
                    @include pCinza;
                    margin-top: 30px;
                    width: 90%;
                }
            }

            .Contatos {
                display: flex;
                gap: 15px;
                padding-top: 50px;
                margin-bottom: 15px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #5a5656;
                    border-radius: 10px;
                    background-color: rgb(17,17,17);
                    width: 70px;
                    height: 70px;

                    &:hover {
                        border: 2px solid #986DFF;
                    }

                    svg {
                        @include icone;
                        font-size: 30px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}
