.Menu {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(17,17,17);

  .Logo {
    width: 220px;
    padding: 50px 0 0 120px;
  }
  
}

@media (max-width: 428px) {
  .Menu{

    .Logo {
      width: 220px;
      padding: 50px 0 0 15px;
      font-size: 25px;
      font-weight: 500;
    }
  
    }
    
  }