.section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.fadeInLeft {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fromLeft {
  transform: translateX(-100%);
}
